@use "sass:map";
@use "../abstracts/index" as *;
@use "../components/index" as *;

.output {
  display: flex;
  flex-direction: column;
  row-gap: map.get($spacing, 2);
  background-color: var(--green-900);
  padding: map.get($spacing, 10) map.get($spacing, 6) map.get($spacing, 6)
    map.get($spacing, 6);
  border-radius: map.get($radius, br-3);
  justify-content: space-between;

  &__entry {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: map.get($spacing, 8);
    column-gap: map.get($spacing, 1);
    overflow: hidden;
  }

  &__title {
    display: flex;
    flex-direction: column;
    row-gap: map.get($spacing, 2);

    .title {
      @include font-preset-3($color: var(--white));
    }

    .subtitle {
      @include font-preset-4($color: var(--grey-400));
    }
  }

  &__detail {
    text-align: end;
    @include font-preset-5($color: var(--green-400));
  }

  @include button(
    $color: var(--green-900),
    $bg-color: var(--green-800),
    $active-color: var(--green-900),
    $active-bg-color: var(--green-400)
  );

  @include media-query-md() {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
